beautifulsoup4==4.12.3
firebase-admin==6.6.0
functions-framework==3.9.2
google-generativeai==0.8.4
langchain-core==0.3.40
langchain-google-genai==2.0.9
Markdown==3.7
Mastodon.py==2.0.1
numpy==2.2.3
python-dotenv==1.0.1
requests==2.32.3
sentence-transformers==3.4.1