.venv/
__pycache__/
.idea/
rag/.env
rag/rag-account-service-key.json
rss_mail_summarizer/serviceAccountKey.json
rss_mail_summarizer/last_toot_id.txt
firestore_migration
rss_mail_summarizer/credentials
serviceAccountKey.json
credentials/credentials.json
credentials/token.json